<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>HP Printer Application</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/HP Printer App.app/Contents/MacOS/hp-printer-app</string>
		<string>server</string>
		<string>-o</string>
		<string>log-file=/Library/Logs/hp-printer-app.log</string>
	</array>
</dict>
</plist>
